{% extends "base.html" %}

{% block content %}
    <div class="wrapper fadeInDown">
      <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first" style="padding-top:25px">
            <img src="{{url_for('static',filename='../static/images/logo.png')}}" id="icon" alt="User Icon" />
        </div>
        <div>
            <h2 style="margin: 30px 8px 30px 8px; color:#121111" class="fadeIn first">Visitor Check in</h2>
        </div>

        <!-- Login Form -->
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p class="fadeIn second">
                {{ form.name.label }}<br>
                {{ form.name(size=32) }}<br>
                {% for error in form.name.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p class="fadeIn third">
                {{ form.email.label }}<br>
                {{ form.email(size=32) }}<br>
                {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p class="fadeIn fourth">
                {{ form.phone.label }}<br>
                {{ form.phone(size=10) }}<br>
                {% for error in form.phone.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p class="fadeIn fifth">{{ form.submit() }}</p>
        </form>

        <!-- Other Links -->
        <div id="formFooter">
                <p><a href="/login">Sign in Host</a></p>
                <p><a href="/checkout">Checkout Visitor</a></p>
        </div>

      </div>
    </div>
{% endblock %}