{% extends "base.html" %}

{% block content %}
    <div class="wrapper fadeInDown">
          <div id="formContent">
            <!-- Tabs Titles -->

            <!-- Icon -->
            <div class="fadeIn first">
                <h2 style="margin: 30px 8px 30px 8px; color:#121111">Welcome Host</h2>
            </div>

            <!-- Login Form -->
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <p class="fadein second">
                    {{ form.username.label }}<br>
                    {{ form.username(size=32) }}<br>
                    {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p class="fadeIn third">
                    {{ form.password.label }}<br>
                    {{ form.password(size=32) }}<br>
                    {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p class="fadeIn fourth">{{ form.remember_me() }} {{ form.remember_me.label }}</p>
                <p class="fadeIn fourth">{{ form.submit() }}</p>
            </form>

            <!-- Other Links -->
            <div id="formFooter">
                <p>New Host? <a href="{{ url_for('register') }}">Click to Register!</a></p>
            </div>
          </div>
    </div>
{% endblock %}