{% extends "base.html" %}

{% block content %}
    <div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
				<form action="" method="post" novalidate class="login100-form validate-form flex-sb flex-w">
                    {{ form.hidden_tag() }}
					<span class="login100-form-title p-b-32">
						Create Account
					</span>

					<span class="txt1 p-b-11">
						Username
					</span>
					<div class="wrap-input100 validate-input m-b-36" data-validate = "Username is required">
                        <div>
                            <input class="input100" type="text" name="username" >
						    <span class="focus-input100"></span>
                            {% for error in form.username.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </div>

					</div>


                    <span class="txt1 p-b-11">
						Email
					</span>
					<div class="wrap-input100 validate-input m-b-36" data-validate = "Not valid email">
                        <div>
                            <input class="input100" type="text" name="email" >
						    <span class="focus-input100"></span>
                            {% for error in form.email.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </div>
					</div>

					<span class="txt1 p-b-11">
						Password
					</span>
					<div class="wrap-input100 validate-input m-b-12" data-validate = "Password is required">
                        <div>
                            <span class="btn-show-pass">
                                <i class="fa fa-eye"></i>
                            </span>
                            <input class="input100" type="password" name="password" >
						    <span class="focus-input100"></span>
                            {% for error in form.password.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </div>
					</div>

                    <span class="txt1 p-b-11">
						Confirm Password
					</span>
					<div class="wrap-input100 validate-input m-b-12" data-validate = "Password is required">
                        <div>
                            <span class="btn-show-pass">
							    <i class="fa fa-eye"></i>
						    </span>
                            <input class="input100" type="password" name="password2" >
						    <span class="focus-input100"></span>
                            {% for error in form.password2.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </div>
					</div>

					<div class="container-login100-form-btn">
						<button type="submit" class="login100-form-btn">
							Sign Up
						</button>
					</div>

				</form>
			</div>
		</div>
	</div>
<!--    <div class="wrapper fadeInDown">-->
<!--              <div id="formContent">-->
<!--                &lt;!&ndash; Tabs Titles &ndash;&gt;-->

<!--                &lt;!&ndash; Icon &ndash;&gt;-->
<!--                <div class="fadeIn first">-->
<!--                    <h2 style="margin: 30px 8px 30px 8px; color:#121111">Register</h2>-->
<!--                </div>-->

<!--                &lt;!&ndash; Login Form &ndash;&gt;-->
<!--                <form action="" method="post" novalidate>-->
<!--                    {{ form.hidden_tag() }}-->
<!--                   <p class="fadeIn second">-->
<!--                        {{ form.username.label }}<br>-->
<!--                        {{ form.username(size=32) }}<br>-->
<!--                        {% for error in form.username.errors %}-->
<!--                        <span style="color: red;">[{{ error }}]</span>-->
<!--                        {% endfor %}-->
<!--                    </p>-->
<!--                    <p class="fadeIn third">-->
<!--                        {{ form.email.label }}<br>-->
<!--                        {{ form.email(size=64) }}<br>-->
<!--                        {% for error in form.email.errors %}-->
<!--                        <span style="color: red;">[{{ error }}]</span>-->
<!--                        {% endfor %}-->
<!--                    </p>-->
<!--                    <p class="fadeIn fourth">-->
<!--                        {{ form.password.label }}<br>-->
<!--                        {{ form.password(size=32) }}<br>-->
<!--                        {% for error in form.password.errors %}-->
<!--                        <span style="color: red;">[{{ error }}]</span>-->
<!--                        {% endfor %}-->
<!--                    </p>-->
<!--                    <p class="fadeIn fourth">-->
<!--                        {{ form.password2.label }}<br>-->
<!--                        {{ form.password2(size=32) }}<br>-->
<!--                        {% for error in form.password2.errors %}-->
<!--                        <span style="color: red;">[{{ error }}]</span>-->
<!--                        {% endfor %}-->
<!--                    </p>-->
<!--                    <p class="fadeIn fifth">{{ form.submit() }}</p>-->
<!--                </form>-->
<!--              </div>-->
<!--    </div>-->
{% endblock %}