{% extends "base.html" %}

{% block content %}
    <div class="wrapper fadeInDown">
              <div id="formContent">
                <!-- Tabs Titles -->

                <!-- Icon -->
                <div class="fadeIn first">
                    <h2 style="margin: 30px 8px 30px 8px; color:#121111">Register</h2>
                </div>

                <!-- Login Form -->
                <form action="" method="post" novalidate>
                    {{ form.hidden_tag() }}
                   <p class="fadeIn second">
                        {{ form.username.label }}<br>
                        {{ form.username(size=32) }}<br>
                        {% for error in form.username.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p class="fadeIn third">
                        {{ form.email.label }}<br>
                        {{ form.email(size=64) }}<br>
                        {% for error in form.email.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p class="fadeIn fourth">
                        {{ form.password.label }}<br>
                        {{ form.password(size=32) }}<br>
                        {% for error in form.password.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p class="fadeIn fourth">
                        {{ form.password2.label }}<br>
                        {{ form.password2(size=32) }}<br>
                        {% for error in form.password2.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p class="fadeIn fifth">{{ form.submit() }}</p>
                </form>
              </div>
    </div>
{% endblock %}